- name: Refresh package cache
  ansible.builtin.apt:
    update_cache: true
  check_mode: true

- name: Upgrade installed software
  ansible.builtin.apt:
    upgrade: 'full'
    autoremove: yes
    purge: yes
  when: upgrade is not defined or upgrade

- name: Install common packages
  ansible.builtin.apt:
    name:
      - curl
      - htop
      - iotop
      - vim
      - screen
  when: not ansible_check_mode

- name: Enable colored shell for root
  ansible.builtin.lineinfile:
    path: /root/.bashrc
    regexp: '^#?force_color_prompt='
    line: force_color_prompt=yes

- name: Red shell for root
  ansible.builtin.lineinfile:
    path: /root/.bashrc
    regexp: '\[\\033\[01;3(1|2)m\\\]\\u@\\h\\\[\\033\[00m\\\]:\\\[\\033\[01;34m\\\]\\w\\\[\\033\[00m\\\]\\\$'
    line: '    PS1=''${debian_chroot:+($debian_chroot)}\[\033[01;31m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '''