- name: Clone linux_tweet_app repo
  ansible.builtin.git:
    repo: "{{ app_repo }}"
    dest: "{{ doc_root }}"
    version: master

- name: Build docker image from repository
  community.docker.docker_image:
    name: "{{ image_name }}"
    build:
      path: "{{ doc_root }}"
    push: false
    source: build
  when: not ansible_check_mode

- name: Create data directory for nginx confing files
  ansible.builtin.file:
    path: "{{ data_directory }}/nginx"
    state: directory
    mode: 0755

- name: Create data directory for certificates
  ansible.builtin.file:
    path: "{{ data_directory }}/certbot/conf"
    state: directory
    mode: 0755
  
- name: Create data directory for certbot certificate creation
  ansible.builtin.file:
    path: "{{ data_directory }}/certbot/www"
    state: directory
    mode: 0755

- name: Copy nginx app config for IP SSL validation
  ansible.builtin.template:
    src: templates/default.j2
    dest: "{{ data_directory }}/nginx/default.conf"
    owner: root
    group: root
    mode: 0644

- name: Copy docker-compose yaml
  ansible.builtin.copy:
    src: files/docker-compose.yml
    dest: "{{ doc_root }}"
    owner: root
    group: root
    mode: 0744

- name: Generate self-signed localhost certificate for nginx start
  ansible.builtin.shell: |
    openssl req -x509 -out {{ domain }}.crt -keyout {{ domain }}.key \
      -newkey rsa:2048 -nodes -sha256 \
      -subj '/CN={{ domain }}' \
      -extensions EXT \
      -config <(
        printf "[dn]\nCN={{ domain }}\n[req]\ndistinguished_name = dn\n[EXT]\nsubjectAltName=DNS:{{ domain }}\nkeyUsage=digitalSignature\nextendedKeyUsage=serverAuth"
      )
  args:
    executable: /bin/bash
    chdir: "{{ data_directory }}/certbot/conf/"
    creates: "{{ data_directory }}/certbot/conf/{{ domain }}.crt"
  when: not ansible_check_mode

- name: Set restrictive permissions on private key
  ansible.builtin.file:
    path: "{{ data_directory }}/certbot/conf/{{ domain }}.key"
    mode: "0600"
    owner: root
    group: root
  when: not ansible_check_mode

- name: Check if compose file is present
  ansible.builtin.stat:
    path: "{{ compose_file }}"
  register: compose_stat

- name: Abort when compose file is not present
  ansible.builtin.fail:
    msg: "Compose file {{ compose_file }} not found on target!"
  when: 
    - not compose_stat.stat.exists
    - not ansible_check_mode

- name: Check if fullchain exists on host and is non-empty
  ansible.builtin.stat:
    path: "{{ data_directory }}/certbot/conf/live/{{ domain }}/fullchain.pem"
  register: stat_fullchain

- name: Start nginx and app containers
  ansible.builtin.command: docker compose -f "{{ compose_file }}" up -d app nginx

- name: Obtain Let's Encrypt certificate
  ansible.builtin.command: >
    docker compose run --rm --entrypoint ""
    certbot certbot certonly
    --webroot -w /var/www/certbot
    -d {{ domain }}
    --staging
    --non-interactive
    --agree-tos
    --register-unsafely-without-email
  args:
    chdir: "{{ doc_root }}"
  when: not stat_fullchain.stat.exists

- name: Update nginx config to use Let's Encrypt certificate
  ansible.builtin.replace:
    path: "{{ data_directory }}/nginx/default.conf"
    regexp: 'ssl_certificate\s+.*;'
    replace: 'ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;'

- name: Update nginx config to use Let's Encrypt private key
  ansible.builtin.replace:
    path: "{{ data_directory }}/nginx/default.conf"
    regexp: 'ssl_certificate_key\s+.*;'
    replace: 'ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;'

- name: Wait for nfs to sync between certbot and nginx proxy
  ansible.builtin.pause:
    seconds: 5
  when: not stat_fullchain.stat.exists

- name: Reload nginx proxy
  ansible.builtin.shell: >
    docker compose -f /opt/linux_tweet_app/docker-compose.yml exec -T nginx nginx -s reload
  args:
    executable: /bin/bash
  when: not stat_fullchain.stat.exists

- name: Start certbot container for renewal
  ansible.builtin.command: docker compose -f "{{ compose_file }}" up -d certbot
    